POSTGRES_USER=projectmanagement
POSTGRES_PASSWORD=projectmanagement123
POSTGRES_DB=projectmanagement

ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
# ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=projectmanagement;Username=projectmanagement;Password=projectmanagement123
